@model List<Category>;
<div class="column_balance">
<form id="list_category_form" method="post" class="row">
    <div class="conteiner">
        <div class="row pt-4">
            <div class="col-6">
                <h2>
                    Категорії
                </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Parents" asp-action="AddCategory" class="btn btn-dark">
                    <i class="bi bi-plus-circle-fill"></i> Додати Категорію
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Назва</th>
                <th>Батьківська категорія</th>
                <th>Редагувати</th>
                <th>Видалити</th>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.ParentsCategoryNavigation?.Name</td>

                    <td>
                        <a asp-controller="Parents" asp-action="EditCategory" asp-route-id="@category.Id" class="btn btn-info mx-2">
                            <i class="bi bi-opencollective"></i>Редагувати
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Parents" asp-action="DeleteCategory" asp-route-id="@category.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-opencollective"></i>Видалити
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>
</div>